.container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;

  grid-auto-columns: 100px;
  grid-auto-flow: column;
}

.item-1 {
  grid-area: 1/1/3/7;
}

.item-2 {
  grid-area: 2/4/4/6;
  z-index: 1;
}

.item-3 {
  grid-area: 3/1/7/7;
}
