body {
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-top: 1rem;
    border: 5px solid black;
  }
  
  .item {
    border: 5px solid rgb(250, 0, 0);
    background-color: rgb(255, 141, 179);
    text-align: center;
    padding: 5px;
  }