.container {
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  align-items: center;
}

.item-1{
  justify-self: end;
  align-self: end;
}

.item-2{
  justify-self: end;
  align-self: stretch;
}

.item-4{
  justify-self: stretch;
  align-self: start;
}
